torch           #   XImageSave, XLatentLoad, XLatentSave, XVideoSave
numpy           #   XImageSave, XVideoSave
Pillow          #   XImageSave
safetensors     #   XLatentLoad
ffmpeg-python   #   XVideoSave